@using DataModel
@if (Address != null)
{
    <div>
        @if (Address.Line1 != null)
        {
            <span>@Address.Line1</span><br />
        }
        @if (Address.Line2 != null)
        {
            <span>@Address.Line2</span><br />
        }
        @if (Address.Line3 != null)
        {
            <span>@Address.Line3</span><br />
        }
        <span>@Address.Town</span><br />
        <span>@Address.Postcode</span>
    </div>
}
else
{
    <div>
        <b>No Address Specified - Collection Only</b>
    </div>
}
@code {
    [Parameter] public Address Address { get; set; }
}